.container {
  margin: 80px auto;
}

@media (min-width: 960px) {
  .container {
    width: 900px; /* Adjust as needed */
  }
}

@media (max-width: 960px) {
  .container {
    width: 90%; /* Adjust as needed */
  }
}

@media (max-width: 720px) {
  .container {
    width: 80%; /* Adjust as needed */
  }
}

@media (max-width: 540px) {
  .container {
    width: 90%; /* Adjust as needed */
  }
}
